@model RedditOverflow.Models.Subreddit

<div class="container">
    <div id="header">
        <br class="cbt">
        <div id="hlogo">
            <a href="/">
                Stack Overflow
            </a>
        </div>
        <div id="hmenus">
            <div class="nav mainnavs">
                <ul>
                    <li class="youarehere">
                        <a id="nav-questions" href="/questions" class="js-gps-track" data-gps-track="top_nav.click({is_current:true, location:3, destination:1})">
                            Questions
                        </a>
                    </li>

                    <li>
                        <a id="nav-jobs" href="/jobs?med=site-ui&amp;ref=jobs-tab" class="js-gps-track" data-gps-track="top_nav.click({is_current:false, location:3, destination:6})">
                            Jobs
                        </a>
                    </li>
                    <li>
                        <a id="nav-docs" href="/documentation" class="js-gps-track" data-gps-track="top_nav.click({is_current:false, location:3, destination:7})">
                            Documentation
                        </a>
                    </li>
                    <li>
                        <a id="nav-tags" href="/tags" class="js-gps-track" data-gps-track="top_nav.click({is_current:false, location:3, destination:2})">
                            Tags
                        </a>
                    </li>

                    <li>
                        <a id="nav-users" href="/users" class="js-gps-track" data-gps-track="top_nav.click({is_current:false, location:3, destination:3})">
                            Users
                        </a>
                    </li>

                    <li>
                        <a id="nav-badges" href="/help/badges" class="js-gps-track" data-gps-track="top_nav.click({is_current:false, location:3, destination:4})">
                            Badges
                        </a>
                    </li>

                </ul>
            </div>
            <div class="nav askquestion">
                <ul>
                    <li>
                        <a id="nav-askquestion" href="/questions/ask">Ask Question</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="content" class="snippet-hidden">

        <div id="mainbar">
            <div class="subheader">
                <h1 id="h-all-questions">All Questions</h1>

                <div id="tabs">
                    <a href="/questions?sort=newest" data-nav-xhref="" title="The most recently asked questions" data-value="newest" data-shortcut="N">
                        newest
                    </a>
                    <a href="/questions?sort=featured" data-nav-xhref="" title="Questions with open bounties" data-value="featured" data-shortcut="E">
                        <span class="bounty-indicator-tab">379</span>            featured
                    </a>
                    <a href="/questions?sort=frequent" data-nav-xhref="" title="Questions with the most links" data-value="frequent" data-shortcut="F">
                        frequent
                    </a>
                    <a class="youarehere" href="/questions?sort=votes" data-nav-xhref="" title="Questions with the most votes" data-value="votes" data-shortcut="V">
                        votes
                    </a>
                    <a href="/questions?sort=active" data-nav-xhref="" title="Questions that have recent activity" data-value="active" data-shortcut="A">
                        active
                    </a>
                    <a id="tab-switch" href="/unanswered" data-nav-xhref="" title="Switch to unanswered tabs" data-value="" data-shortcut="">
                        unanswered
                    </a>
                </div>

            </div>
            @foreach (var post in Model.ListPosts)
            {
                <div class="question-summary @(@post.Score%4 == 0 ? "tagged-interesting" : "")">
                    <div class="statscontainer">
                        <div class="statsarrow"></div>
                        <div class="stats">
                            <div class="vote">
                                <div class="votes">
                                    <span class="vote-count-post "><strong>@post.Score</strong></span>
                                    <div class="viewcount">votes</div>
                                </div>
                            </div>
                            <div class="status unanswered">
                                <strong>@Math.Round(post.Score / 50.0)</strong>answers
                            </div>
                        </div>
                        <div class="views">
                            @Math.Round(post.Score / 20.0) views
                        </div>
                    </div>
                    <div class="summary">
                        <h3>@Html.ActionLink(post.Title, "Index", new { controller = "Post", id = post.Url }, new { @class = "question-hyperlink" })</h3>
                        <div class="excerpt">
                            @post.Content.Substring(0, post.Content.Length > 200 ? 200 : post.Content.Length)
                        </div>
                        <div class="tags">
                            <a href="/Subreddit/@post.Subreddit" class="post-tag" rel="tag">@post.Subreddit</a>
                        </div>
                        <div class="started fr">
                            <div class="user-info ">
                                <div class="user-action-time">
                                    asked <span class="relativetime">@post.Date</span>
                                </div>
                                <div class="user-gravatar32">
                                    <a href="#"><div class="gravatar-wrapper-32"><img src="@(post.Thumbnail)" alt="" width="32" height="32"></div></a>
                                </div>
                                <div class="user-details">
                                    <a href="#">@post.Author</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div id="sidebar">
            <div class="module" id="questions-count">
                <div class="summarycount al">@String.Format("{0:n0}", Model.ListPosts.Sum(item => item.Score*24))</div>
                <p>questions</p>
            </div>

            <div class="module community-bulletin" data-tracker="cb=1">
                <div class="related">
                    <div class="bulletin-title">
                        Featured on Meta
                    </div>
                    <hr>
                    <div class="spacer">
                        <div class="bulletin-item-type">
                            <a href="http://meta.stackexchange.com/questions/285889/lets-plan-the-second-iteration-of-the-stack-exchange-quality-project?cb=1" class="question-hyperlink">
                                <div class="favicon favicon-stackexchangemeta" title="Meta Stack Exchange"></div>
                            </a>
                        </div>
                        <div class="bulletin-item-content">
                            <a href="http://meta.stackexchange.com/questions/285889/lets-plan-the-second-iteration-of-the-stack-exchange-quality-project?cb=1" class="question-hyperlink">Let's Plan The Second Iteration Of The Stack Exchange Quality Project!</a>
                        </div>
                        <br class="cbt">
                    </div>
                    <div class="spacer">
                        <div class="bulletin-item-type">
                            <a href="http://meta.stackoverflow.com/questions/336627/documentation-update-october-20th?cb=1" class="question-hyperlink">
                                <div class="favicon favicon-stackoverflowmeta" title="Meta Stack Overflow"></div>
                            </a>
                        </div>
                        <div class="bulletin-item-content">
                            <a href="http://meta.stackoverflow.com/questions/336627/documentation-update-october-20th?cb=1" class="question-hyperlink">Documentation Update, October 20th</a>
                        </div>
                        <br class="cbt">
                    </div>
                    <div class="bulletin-title">
                        Hot Meta Posts
                    </div>
                    <hr>
                    <div class="spacer">
                        <div class="bulletin-item-type">
                            <span title="Vote score (upvotes - downvotes)">4</span>
                        </div>
                        <div class="bulletin-item-content">
                            <a href="http://meta.stackoverflow.com/questions/336579/puzzle-challenge-questions-do-they-belong-on-stackoverflow?cb=1" class="question-hyperlink">Puzzle/challenge questions: do they belong on StackOverflow?</a>
                        </div>
                        <br class="cbt">
                    </div>
                    <div class="spacer">
                        <div class="bulletin-item-type">
                            <span title="Vote score (upvotes - downvotes)">31</span>
                        </div>
                        <div class="bulletin-item-content">
                            <a href="http://meta.stackoverflow.com/questions/336587/its-difficult-to-talk-about-times-in-chat?cb=1" class="question-hyperlink">It's difficult to talk about times in chat</a>
                        </div>
                        <br class="cbt">
                    </div>
                    <div class="spacer">
                        <div class="bulletin-item-type">
                            <span title="Vote score (upvotes - downvotes)">17</span>
                        </div>
                        <div class="bulletin-item-content">
                            <a href="http://meta.stackoverflow.com/questions/336625/how-to-add-swift-answers-to-older-ios-questions?cb=1" class="question-hyperlink">How to add Swift answers to older iOS questions</a>
                        </div>
                        <br class="cbt">
                    </div>
                </div>
            </div>
            <div class="module" id="interesting-tags">

                <h4 id="h-interesting-tags">Favorite Tags</h4>
                <a id="edit-interesting">edit</a>
                <div id="interestingTags"><a href="#" class="post-tag user-tag" title="show questions tagged 'java'" rel="tag">java</a> <a href="#" class="post-tag user-tag" title="show questions tagged 'android'" rel="tag"><img src="//i.stack.imgur.com/tKsDb.png" height="16" width="18" alt="" class="sponsor-tag-img">android</a> <a href="/questions/tagged/php" class="post-tag user-tag" title="show questions tagged 'php'" rel="tag">php</a> </div>
                <span id="add-interesting"></span>
                <a id="addInterestingTag" class="dno">Add a favorite tag</a><br>
                <p id="tag-subscriptions" class="ar dno" style="margin-top: 10px;"><a href="#">advanced tag subscriptions »</a></p>
                <div id="ignored-wrapper" class="dno">
                    <h4 id="h-ignored-tags">Ignored Tags</h4>

                    <div id="ignoredTags">
                    </div>
                    <span id="add-ignored"></span>
                    <a id="addIgnoredTag">Add an ignored tag</a>
                    <div class="dno">

                        <div><input type="radio" name="hideIgnored" id="hideIgnoredTrue"><label for="hideIgnoredTrue">&nbsp;Hide questions in your ignored tags</label></div>
                        <div><input type="radio" name="hideIgnored" id="hideIgnoredFalse" checked="checked"><label for="hideIgnoredFalse">&nbsp;Gray out questions in your ignored tags</label></div>
                    </div>
                </div>
                <p id="tag-pref-prefs" class="ar dno" style="margin-top: 10px;"><a href="#">set tag preferences »</a></p>
            </div>

            <script>
                StackExchange.ready(function () {
                    StackExchange.tagPreferences.applyPrefs(true, []);
                });
            </script>
            <script>
                var ados = ados || {}; ados.run = ados.run || [];
                ados.run.push(function () { ados_add_placement(22, 8277, "adzerk110102289", [5, 17, 2221]).setZone(45); });
            </script>

            <div id="hireme"></div>
            <script>
                ; (function (n) { var u = Object.assign || function (n) { for (var i, r, u, f, e = [], t = 1; t < arguments.length; t++) e[t - 1] = arguments[t]; for (i = 0, r = e; i < r.length; i++) { u = r[i]; for (f in u) n[f] = u[f] } return n }, r, t, f, i; try { if (typeof [].indexOf != "function") return; if (r = ["stackoverflow.com", "serverfault.com", "careers.stackoverflow.com", "blog.codinghorror.com", "joelonsoftware.com", "www.joelonsoftware.com", "talent.stackoverflow.com"], r[0] !== "*" && r.indexOf(location.hostname) === -1) return; t = window; f = t.clc_opts ? u({}, window.clc_opts) : {}; t.clc_opts = u(n, f); void 0; t.clc_opts.autoload && (t.clc_init = t.clc_init || [], t.clc_init.push(function () { return t.clc.load() })); i = document.createElement("script"); i.async = !0; void 0; i.src = t.clc_opts.lib; document.body.appendChild(i) } catch (e) { void 0 } }).call(null, { "azw": true, "kt": 2000, "tto": true, "autoload": true, "d": { "sb": ["hireme", "clc-sb"], "tlb": ["careers1", "clc-tlb"], "mlb": ["careers3", "clc-mlb"] }, "allowed": ["stackoverflow.com", "serverfault.com", "careers.stackoverflow.com", "blog.codinghorror.com", "joelonsoftware.com", "www.joelonsoftware.com", "talent.stackoverflow.com"], "h": "clc.stackoverflow.com", "u": "//clc.stackoverflow.com/p.js", "lib": "//cdn.sstatic.net/clc/clc.min.js?v=0b93ded9c111" });        </script>


            <div class="module js-gps-related-tags" id="related-tags">

                <h4 id="h-related-tags">Related Tags</h4>
                <div>
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'javascript'" rel="tag">javascript</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">1239725</span></span>
                </div>
                <div>
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'java'" rel="tag">java</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">1153297</span></span>
                </div>
                <div>
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'c#'" rel="tag">c#</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">1015600</span></span>
                </div>
                <div>
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'php'" rel="tag">php</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">989711</span></span>
                </div>
                <div>
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'android'" rel="tag"><img src="//i.stack.imgur.com/tKsDb.png" height="16" width="18" alt="" class="sponsor-tag-img">android</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">907775</span></span>
                </div>
                <div>
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'jquery'" rel="tag">jquery</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">783292</span></span>
                </div>
                <div>
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'python'" rel="tag">python</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">645341</span></span>
                </div>
                <div>
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'html'" rel="tag">html</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">587372</span></span>
                </div>
                <div>
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'c++'" rel="tag">c++</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">476462</span></span>
                </div>
                <div>
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'ios'" rel="tag">ios</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">468645</span></span>
                </div>
                <div class="dno js-hidden">
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'mysql'" rel="tag">mysql</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">426995</span></span>
                </div>
                <div class="dno js-hidden">
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'css'" rel="tag">css</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">424585</span></span>
                </div>
                <div class="dno js-hidden">
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'sql'" rel="tag">sql</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">363075</span></span>
                </div>
                <div class="dno js-hidden">
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'asp.net'" rel="tag">asp.net</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">301319</span></span>
                </div>
                <div class="dno js-hidden">
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'objective-c'" rel="tag">objective-c</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">267753</span></span>
                </div>
                <div class="dno js-hidden">
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'ruby-on-rails'" rel="tag">ruby-on-rails</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">258136</span></span>
                </div>
                <div class="dno js-hidden">
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged '.net'" rel="tag">.net</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">241445</span></span>
                </div>
                <div class="dno js-hidden">
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'c'" rel="tag">c</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">230865</span></span>
                </div>
                <div class="dno js-hidden">
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'iphone'" rel="tag">iphone</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">215177</span></span>
                </div>
                <div class="dno js-hidden">
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'angularjs'" rel="tag">angularjs</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">203320</span></span>
                </div>
                <div class="dno js-hidden">
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'arrays'" rel="tag">arrays</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">202552</span></span>
                </div>
                <div class="dno js-hidden">
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'sql-server'" rel="tag">sql-server</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">180248</span></span>
                </div>
                <div class="dno js-hidden">
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'json'" rel="tag">json</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">173846</span></span>
                </div>
                <div class="dno js-hidden">
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'ruby'" rel="tag">ruby</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">170107</span></span>
                </div>
                <div class="dno js-hidden">
                    <a href="#" class="post-tag no-tag-menu js-gps-track" title="show questions tagged 'r'" rel="tag">r</a>&nbsp;<span class="item-multiplier"><span class="item-multiplier-x">×</span>&nbsp;<span class="item-multiplier-count">156738</span></span>
                </div>
                <a href="#" class="show-more js-show-more js-gps-track" data-gps-track="related_tags.click({ item_type:2 })">
                    more related tags
                </a>
                <script>
                    StackExchange.ready(function () {
                        var $div = $('#h-related-tags').parent();
                        $div.find('.js-show-more').click(function () {
                            $div.find('.js-hidden').show();
                            $(this).remove();
                            return false;
                        });
                    });
                </script>

            </div>

            <div id="hot-network-questions" class="module">
                <h4>
                    <a href="//stackexchange.com/questions?tab=hot" class="js-gps-track" data-gps-track="posts_hot_network.click({ item_type:1, location:11 })">
                        Hot Network Questions
                    </a>
                </h4>
                <ul>
                    <li>
                        <div class="favicon favicon-english" title="English Language &amp; Usage Stack Exchange"></div><a href="http://english.stackexchange.com/questions/354489/word-for-to-direct-attention-away-from" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:97 }); posts_hot_network.click({ item_type:2, location:11 })">
                            Word for "to direct attention away from"
                        </a>

                    </li>
                    <li>
                        <div class="favicon favicon-workplace" title="The Workplace Stack Exchange"></div><a href="http://workplace.stackexchange.com/questions/78198/limited-number-of-places-at-award-ceremony-for-team-how-do-i-choose-who-to-tak" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:423 }); posts_hot_network.click({ item_type:2, location:11 })">
                            Limited number of places at award ceremony for team - how do I choose who to take along?
                        </a>

                    </li>
                    <li>
                        <div class="favicon favicon-codegolf" title="Programming Puzzles &amp; Code Golf Stack Exchange"></div><a href="http://codegolf.stackexchange.com/questions/96641/nest-a-string" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:200 }); posts_hot_network.click({ item_type:2, location:11 })">
                            N(e(s(t))) a string
                        </a>

                    </li>
                    <li>
                        <div class="favicon favicon-movies" title="Movies &amp; TV Stack Exchange"></div><a href="http://movies.stackexchange.com/questions/62192/criminals-hackers-trick-computer-system-into-backing-up-all-data-into-single-loc" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:367 }); posts_hot_network.click({ item_type:2, location:11 })">
                            Criminals/hackers trick computer system into backing up all data into single location
                        </a>

                    </li>
                    <li>
                        <div class="favicon favicon-tex" title="TeX - LaTeX Stack Exchange"></div><a href="http://tex.stackexchange.com/questions/335304/how-to-add-the-length-of-the-figure" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:85 }); posts_hot_network.click({ item_type:2, location:11 })">
                            How to add the length of the figure?
                        </a>

                    </li>
                    <li class="dno js-hidden" style="display: list-item;">
                        <div class="favicon favicon-academia" title="Academia Stack Exchange"></div><a href="http://academia.stackexchange.com/questions/78584/thesis-reviewer-requests-update-to-literature-review-to-incorporate-last-four-ye" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:415 }); posts_hot_network.click({ item_type:2, location:11 })">
                            Thesis reviewer requests update to literature review to incorporate last four years of research. Do I need to do this?
                        </a>

                    </li>
                    <li class="dno js-hidden" style="display: list-item;">
                        <div class="favicon favicon-puzzling" title="Puzzling Stack Exchange"></div><a href="http://puzzling.stackexchange.com/questions/44702/longest-de-bruijn-phrase" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:559 }); posts_hot_network.click({ item_type:2, location:11 })">
                            Longest "De Bruijn phrase"
                        </a>

                    </li>
                    <li class="dno js-hidden" style="display: list-item;">
                        <div class="favicon favicon-superuser" title="Super User"></div><a href="http://superuser.com/questions/1136864/usb-in-computer-screen-not-working" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:3 }); posts_hot_network.click({ item_type:2, location:11 })">
                            USB in computer screen not working
                        </a>

                    </li>
                    <li class="dno js-hidden" style="display: list-item;">
                        <div class="favicon favicon-english" title="English Language &amp; Usage Stack Exchange"></div><a href="http://english.stackexchange.com/questions/354625/what-is-the-correct-plural-of-training" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:97 }); posts_hot_network.click({ item_type:2, location:11 })">
                            What is the correct plural of "training"?
                        </a>

                    </li>
                    <li class="dno js-hidden" style="display: list-item;">
                        <div class="favicon favicon-security" title="Information Security Stack Exchange"></div><a href="http://security.stackexchange.com/questions/140437/why-dont-vpn-services-use-tls" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:162 }); posts_hot_network.click({ item_type:2, location:11 })">
                            Why don't VPN services use TLS?
                        </a>

                    </li>
                    <li class="dno js-hidden" style="display: list-item;">
                        <div class="favicon favicon-rpg" title="Role-playing Games Stack Exchange"></div><a href="http://rpg.stackexchange.com/questions/89365/how-do-i-depower-overpowered-magic-items-without-breaking-immersion" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:122 }); posts_hot_network.click({ item_type:2, location:11 })">
                            How do I depower overpowered magic items without breaking immersion?
                        </a>

                    </li>
                    <li class="dno js-hidden" style="display: list-item;">
                        <div class="favicon favicon-mathoverflow" title="MathOverflow"></div><a href="http://mathoverflow.net/questions/252671/surprising-examples-of-markov-chains" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:504 }); posts_hot_network.click({ item_type:2, location:11 })">
                            "Surprising" examples of Markov chains
                        </a>

                    </li>
                    <li class="dno js-hidden" style="display: list-item;">
                        <div class="favicon favicon-scifi" title="Science Fiction &amp; Fantasy Stack Exchange"></div><a href="http://scifi.stackexchange.com/questions/143547/did-dumbledore-steal-presents-and-mail-from-harry" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:186 }); posts_hot_network.click({ item_type:2, location:11 })">
                            Did Dumbledore steal presents and mail from Harry?
                        </a>

                    </li>
                    <li class="dno js-hidden" style="display: list-item;">
                        <div class="favicon favicon-philosophy" title="Philosophy Stack Exchange"></div><a href="http://philosophy.stackexchange.com/questions/38542/what-is-the-difference-if-any-between-not-true-and-false" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:265 }); posts_hot_network.click({ item_type:2, location:11 })">
                            What is the difference (if any) between "not true" and "false"?
                        </a>

                    </li>
                    <li class="dno js-hidden" style="display: list-item;">
                        <div class="favicon favicon-codegolf" title="Programming Puzzles &amp; Code Golf Stack Exchange"></div><a href="http://codegolf.stackexchange.com/questions/97049/print-the-greek-alphabet" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:200 }); posts_hot_network.click({ item_type:2, location:11 })">
                            Print the Greek alphabet!
                        </a>

                    </li>
                    <li class="dno js-hidden" style="display: list-item;">
                        <div class="favicon favicon-diy" title="Home Improvement Stack Exchange"></div><a href="http://diy.stackexchange.com/questions/101380/mysterious-cord-running-from-wall-safe" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:73 }); posts_hot_network.click({ item_type:2, location:11 })">
                            Mysterious cord running from wall. Safe?
                        </a>

                    </li>
                    <li class="dno js-hidden" style="display: list-item;">
                        <div class="favicon favicon-skeptics" title="Skeptics Stack Exchange"></div><a href="http://skeptics.stackexchange.com/questions/35554/is-the-four-minute-nuclear-weapon-response-time-classified-information" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:212 }); posts_hot_network.click({ item_type:2, location:11 })">
                            Is the four minute nuclear weapon response time classified information?
                        </a>

                    </li>
                    <li class="dno js-hidden" style="display: list-item;">
                        <div class="favicon favicon-askubuntu" title="Ask Ubuntu"></div><a href="http://askubuntu.com/questions/837558/where-are-sudos-insults-stored" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:89 }); posts_hot_network.click({ item_type:2, location:11 })">
                            Where are sudo's insults stored?
                        </a>

                    </li>
                    <li class="dno js-hidden" style="display: list-item;">
                        <div class="favicon favicon-workplace" title="The Workplace Stack Exchange"></div><a href="http://workplace.stackexchange.com/questions/77952/previous-company-name-is-isis-how-to-list-on-cv" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:423 }); posts_hot_network.click({ item_type:2, location:11 })">
                            Previous company name is ISIS, how to list on CV?
                        </a>

                    </li>
                    <li class="dno js-hidden" style="display: list-item;">
                        <div class="favicon favicon-tex" title="TeX - LaTeX Stack Exchange"></div><a href="http://tex.stackexchange.com/questions/335249/how-to-avoid-intersection-of-elements-in-tikz" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:85 }); posts_hot_network.click({ item_type:2, location:11 })">
                            How to avoid intersection of elements in tikz
                        </a>

                    </li>
                    <li class="dno js-hidden" style="display: list-item;">
                        <div class="favicon favicon-codereview" title="Code Review Stack Exchange"></div><a href="http://codereview.stackexchange.com/questions/144939/check-if-a-string-is-a-permutation-of-a-palindrome" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:196 }); posts_hot_network.click({ item_type:2, location:11 })">
                            Check if a string is a permutation of a palindrome
                        </a>

                    </li>
                    <li class="dno js-hidden" style="display: list-item;">
                        <div class="favicon favicon-history" title="History Stack Exchange"></div><a href="http://history.stackexchange.com/questions/33396/was-roosevelt-the-biggest-slave-trader-in-recorded-history" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:324 }); posts_hot_network.click({ item_type:2, location:11 })">
                            Was Roosevelt the "biggest slave trader in recorded history"?
                        </a>

                    </li>
                    <li class="dno js-hidden" style="display: list-item;">
                        <div class="favicon favicon-codegolf" title="Programming Puzzles &amp; Code Golf Stack Exchange"></div><a href="http://codegolf.stackexchange.com/questions/96973/shuffle-up-and-deal" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:200 }); posts_hot_network.click({ item_type:2, location:11 })">
                            Shuffle Up and Deal!
                        </a>

                    </li>
                    <li class="dno js-hidden" style="display: list-item;">
                        <div class="favicon favicon-stackoverflow" title="Stack Overflow"></div><a href="http://stackoverflow.com/questions/40188610/how-to-change-the-color-of-drawable-shape-in-the-layout-file" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:1 }); posts_hot_network.click({ item_type:2, location:11 })">
                            How to change the color of drawable shape in the layout file
                        </a>

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>