@model RedditOverflow.Models.Subreddit

@Html.DisplayFor(@model => @model.Name)

<style>
    #header {
        margin: 0 auto;
        width: 1060px;
        height: 96px;
        padding: 0 15px;
        box-sizing: content-box;
        position: relative;
    }

    .container {
        margin: 0 auto;
        text-align: left;
        width: 100%;
    }

    .cbt {
        clear: both;
    }

    #content {
        min-height: 450px;
        margin: 0 auto;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        width: 1060px;
        padding: 15px;
        background-color: #FFF;
    }

    #mainbar, .mainbar {
        float: left;
        width: 728px;
        margin: 0 0 0 0;
        padding: 0;
    }

    #hlogo {
        float: left;
    }

        #hlogo a {
            top: 5px;
            background-position: top left;
            background-repeat: no-repeat;
        }

        #hlogo a {
            position: relative;
            display: block;
            width: 200px;
            height: 50px;
            text-decoration: none;
        }

    a {
        color: #07C;
        text-decoration: none;
        cursor: pointer;
    }


    #hmenus {
        top: 38px;
    }

    #hmenus {
        position: absolute;
        right: 15px;
        top: 55px;
    }

        #hmenus .mainnavs, #hmenus .askquestion {
            display: inline-block;
        }

    .nav ul {
        margin: 0;
    }

    ul {
        list-style-type: disc;
    }

    ul, ol {
        margin-left: 30px;
        margin-bottom: 1em;
    }

    ul, ol, li {
        margin: 0;
        padding: 0;
    }

    #hmenus .nav ul li {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    .nav ul li {
        display: inline-block;
        margin-left: 15px;
    }

    ul, ol, li {
        margin: 0;
        padding: 0;
    }

    #hmenus .mainnavs, #hmenus .askquestion {
        display: inline-block;
    }

    .question-summary {
        padding: 12px 0 10px 0;
        border-bottom: 1px solid #e4e6e8;
    }

    .question-summary {
        overflow: hidden;
        padding: 15px 0;
        width: 728px;
        border-bottom: 1px solid #eff0f1;
    }

    .statscontainer {
        width: 78px;
        float: left;
        margin-right: 8px;
        margin-left: 8px;
    }

    .statsarrow {
        float: right;
        height: 13px;
        width: 7px;
        margin-top: 12px;
    }

    .stats {
        margin: 0 0 0 0;
        width: 58px;
    }

    .vote {
        text-align: center;
    }

    .statscontainer .status {
        padding: 7px 0 5px 0;
        font-size: 11px;
    }

    .status {
        padding: 0;
        margin-bottom: 8px;
        text-align: center;
    }

    .statscontainer .views {
        width: 58px;
    }

    .views {
        padding-top: 4px;
        text-align: center;
    }


    .summary {
        float: left;
        width: 630px;
    }

    #mainbar h2, .mainbar h2, #mainbar h3, .mainbar h3, #mainbar h4, .mainbar h4 {
        font-weight: 400;
    }

    .summary h3 {
        font-size: 15px;
        line-height: 1.4;
        margin-bottom: .5em;
    }

    h3 {
        font-size: 15px;
    }

    .answer-hyperlink:visited, #hot-network-questions ul a:visited {
        color: #005999;
    }

    .question-hyperlink, .answer-hyperlink {
        color: #07C;
        line-height: 1.3;
        margin-bottom: 1.2em;
    }

    .question-hyperlink {
        font-size: 16px;
        font-weight: 400;
    }

    a {
        color: #07C;
        text-decoration: none;
        cursor: pointer;
    }

    .excerpt {
        padding: 0;
        padding-bottom: 5px;
        margin: 0;
        color: #3b4045;
    }

    .tags {
        line-height: 18px;
        float: left;
    }

    .fr {
        float: right;
    }

    .started {
        width: 200px;
        float: right;
        line-height: 18px;
    }

    .topbar {
        width: 100%;
        background: rgba(12,13,14,0.86);
        height: 34px;
        line-height: 1;
    }

    .topbar {
        font-size: 13px;
    }

        .topbar .topbar-wrapper {
            width: 1060px;
            padding-left: 0;
            position: relative;
        }

        .topbar .topbar-wrapper {
            width: 980px;
            margin: 0 auto;
            height: 34px;
            text-align: left;
            position: relative;
        }

    .topbar-dialog.siteSwitcher-dialog {
        width: 375px;
        overflow-y: scroll;
        overflow-x: hidden;
        min-height: 390px;
        max-height: 390px;
    }

    .hidden, .dno {
        display: none;
    }

    .topbar-dialog {
        font-family: Arial,"Helvetica Neue",Helvetica,sans-serif !important;
        color: #2f3337;
        font-size: 12px;
        background-color: #FFF;
        box-shadow: 0 2px 2px rgba(12,13,14,0.2);
        z-index: 999;
        position: absolute;
        text-align: left;
        border-left: 1px solid #e4e6e8;
        border-right: 1px solid #e4e6e8;
        border-bottom: 1px solid #e4e6e8;
    }

        .topbar-dialog .header {
            background-color: #eff0f1;
            width: 100%;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            padding: 7px 10px 4px 10px;
            position: relative;
            clear: both;
        }

    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
    }

    .topbar-dialog.siteSwitcher-dialog .current-site-container {
        background-color: #f6fcff;
        border-left: 3px solid #2f96e8;
    }

    .topbar-dialog.siteSwitcher-dialog .modal-content {
        padding: 0;
    }

    .topbar-dialog .modal-content {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px 7px;
        max-height: 300px;
        margin: 1px 0 1px 0;
        position: relative;
    }
</style>
<div class="container">
    <div id="header">
        <br class="cbt">
        <div id="hlogo">
            <a href="/">
                <img src="~/Content/img/stackoverflow.png" alt="stack_overflow" style="width:270px; height:90px;">
            </a>

        </div>
        <div id="hmenus">
            <div class="nav mainnavs">
                <ul>
                    <li class="youarehere">
                        <a id="nav-questions" href="/questions" class="js-gps-track" data-gps-track="top_nav.click({is_current:true, location:3, destination:1})">
                            Questions
                        </a>
                    </li>

                    <li>
                        <a id="nav-jobs" href="/jobs?med=site-ui&amp;ref=jobs-tab" class="js-gps-track" data-gps-track="top_nav.click({is_current:false, location:3, destination:6})">
                            Jobs
                        </a>
                    </li>
                    <li>
                        <a id="nav-docs" href="/documentation" class="js-gps-track" data-gps-track="top_nav.click({is_current:false, location:3, destination:7})">
                            Documentation
                        </a>
                    </li>
                    <li>
                        <a id="nav-tags" href="/tags" class="js-gps-track" data-gps-track="top_nav.click({is_current:false, location:3, destination:2})">
                            Tags
                        </a>
                    </li>

                    <li>
                        <a id="nav-users" href="/users" class="js-gps-track" data-gps-track="top_nav.click({is_current:false, location:3, destination:3})">
                            Users
                        </a>
                    </li>

                    <li>
                        <a id="nav-badges" href="/help/badges" class="js-gps-track" data-gps-track="top_nav.click({is_current:false, location:3, destination:4})">
                            Badges
                        </a>
                    </li>

                </ul>
            </div>
            <div class="nav askquestion">
                <ul>
                    <li>
                        <a id="nav-askquestion" href="/questions/ask">Ask Question</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="content" class="snippet-hidden">

        <div id="mainbar">

            @foreach (var post in Model.ListPosts)
            {
                <div class="question-summary" id="question-summary-40139306">
                    <div class="statscontainer">
                        <div class="statsarrow"></div>
                        <div class="stats">
                            <div class="vote">
                                <div class="votes">
                                    <span class="vote-count-post "><strong>@post.Score</strong></span>
                                    <div class="viewcount">votes</div>
                                </div>
                            </div>
                            <div class="status unanswered">
                                <strong>0</strong>answers
                            </div>
                        </div>
                        <div class="views " title="2 views">
                            2 views
                        </div>
                    </div>
                    <div class="summary">
                        <h3><a href="" class="question-hyperlink">@post.Title</a></h3>
                        <div class="excerpt">
                            @post.Content.Substring(0, post.Content.Length > 50 ? 50 : 0)
                        </div>
                        <div class="tags">
                            <a href="/Subreddit/@post.Subreddit" class="post-tag" rel="tag">@post.Subreddit</a>
                        </div>
                        <div class="started fr">
                            <div class="user-info ">
                                <div class="user-action-time">
                                    asked <span title="2016-10-19 18:47:46Z" class="relativetime">@post.Date</span>
                                </div>
                                <div class="user-gravatar32">
                                    <a href="/users/5565586/frank-fritz-the-blitz"><div class="gravatar-wrapper-32"><img src="https://www.gravatar.com/avatar/b4ea9d3519d109cea0f4160845889de4?s=32&amp;d=identicon&amp;r=PG&amp;f=1" alt="" width="32" height="32"></div></a>
                                </div>
                                <div class="user-details">
                                    <a href="/users/5565586/frank-fritz-the-blitz">@post.Author</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>