@model RedditOverflow.Models.Post

<div class="container">
    <div id="header">
        <br class="cbt">
        <div id="hlogo">
            <a href="/">
                <img src="~/Content/img/stackoverflow.png" alt="stack_overflow" style="width:200px; height:40px; margin:20px;">
            </a>
        </div>
        <div id="hmenus">
            <div class="nav mainnavs">
                <ul>
                    <li class="youarehere">
                        <a id="nav-questions" href="/questions" class="js-gps-track" data-gps-track="top_nav.click({is_current:true, location:3, destination:1})">
                            Questions
                        </a>
                    </li>

                    <li>
                        <a id="nav-jobs" href="/jobs?med=site-ui&amp;ref=jobs-tab" class="js-gps-track" data-gps-track="top_nav.click({is_current:false, location:3, destination:6})">
                            Jobs
                        </a>
                    </li>
                    <li>
                        <a id="nav-docs" href="/documentation" class="js-gps-track" data-gps-track="top_nav.click({is_current:false, location:3, destination:7})">
                            Documentation
                        </a>
                    </li>
                    <li>
                        <a id="nav-tags" href="/tags" class="js-gps-track" data-gps-track="top_nav.click({is_current:false, location:3, destination:2})">
                            Tags
                        </a>
                    </li>

                    <li>
                        <a id="nav-users" href="/users" class="js-gps-track" data-gps-track="top_nav.click({is_current:false, location:3, destination:3})">
                            Users
                        </a>
                    </li>

                    <li>
                        <a id="nav-badges" href="/help/badges" class="js-gps-track" data-gps-track="top_nav.click({is_current:false, location:3, destination:4})">
                            Badges
                        </a>
                    </li>

                </ul>
            </div>
            <div class="nav askquestion">
                <ul>
                    <li>
                        <a id="nav-askquestion" href="/questions/ask">Ask Question</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div id="content" class="snippet-hidden">

        <div itemscope="" itemtype="http://schema.org/Question">
            <link rel="logo" itemprop="image" href="//cdn.sstatic.net/Sites/stackoverflow/img/apple-touch-icon.png?v=c78bd457575a">
            <div id="question-header">
                <h1 itemprop="name">@Html.ActionLink(Model.Title, "Index", new { controller = "Post", id = Model.Url }, new { @class = "question-hyperlink" })</h1>
            </div>
            <div id="mainbar">

                <div class="question" data-questionid="11227809" id="question">
                    <table>
                        <tbody>
                            <tr>
                                <td class="votecell">
                                    <div class="vote">
                                        <input type="hidden" name="_id_" value="11227809">
                                        <a class="vote-up-off vote-up-on" title="This question shows research effort; it is useful and clear (click again to undo)">up vote</a>
                                        <span itemprop="upvoteCount" class="vote-count-post high-scored-post">@Model.Score.ToString()</span>
                                        <a class="vote-down-off" title="This question does not show any research effort; it is unclear or not useful">down vote</a>
                                    </div>
                                </td>
                                <td class="postcell">
                                    <div>
                                        <div class="post-text" itemprop="text">
                                            <a href="@Model.Link">Link attached</a> <br />
                                            <a href="@("https://www.reddit.com" + Model.Url)">Link to original post</a> <br />
                                            <br />
                                            @Model.Content
                                        </div>
                                        <div class="post-taglist">
                                            @Html.ActionLink(Model.Subreddit, "Index", new { controller = "Subreddit", id = Model.Subreddit }, new { @class = "post-tag" })
                                        </div>
                                        <table class="fw">
                                            <tbody>
                                                <tr>
                                                    <td class="vt">
                                                        <div class="post-menu"><a href="/q/11227809/4141606" title="short permalink to this question" class="short-link" id="link-post-11227809">share</a><span class="lsep">|</span><a href="/posts/11227809/edit" class="suggest-edit-post" title="revise and improve this post">edit</a><span class="lsep">|</span><a href="#" class="flag-post-link" title="flag this post for serious problems or moderator attention" data-postid="11227809">flag</a></div>
                                                    </td>
                                                    <td align="right" class="post-signature">
                                                        <div class="user-info user-hover">
                                                            <div class="user-action-time">
                                                                <a href="/posts/11227809/revisions" title="show all edits to this post">edited <span title="2016-10-12 06:44:07Z" class="relativetime">Oct 12 at 6:44</span></a>
                                                            </div>
                                                            <div class="user-gravatar32">
                                                                <a href="/users/3682162/vikrant"><div class="gravatar-wrapper-32"><img src="https://www.gravatar.com/avatar/4c11213e01b9f76d7fa5070de932e6cc?s=32&amp;d=identicon&amp;r=PG" alt="" width="32" height="32"></div></a>
                                                            </div>
                                                            <div class="user-details">
                                                                <a href="/users/3682162/vikrant">Vikrant</a>
                                                                <div class="-flair">
                                                                    <span class="reputation-score" title="reputation score " dir="ltr">2,038</span><span title="3 gold badges"><span class="badge1"></span><span class="badgecount">3</span></span><span title="13 silver badges"><span class="badge2"></span><span class="badgecount">13</span></span><span title="37 bronze badges"><span class="badge3"></span><span class="badgecount">37</span></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="post-signature owner">
                                                        <div class="user-info user-hover">
                                                            <div class="user-action-time">
                                                                asked <span class="relativetime">@Model.Date.ToString()</span>
                                                            </div>
                                                            <div class="user-gravatar32">
                                                                <a href="/users/87234/gmannickg"><div class="gravatar-wrapper-32"><img src="https://i.stack.imgur.com/FkjBe.png?s=32&amp;g=1" alt="" width="32" height="32"></div></a>
                                                            </div>
                                                            <div class="user-details">
                                                                @Html.ActionLink(Model.Author, "#")
                                                                <div class="-flair">
                                                                    <span class="reputation-score" title="reputation score 232,285" dir="ltr">232k</span><span title="29 gold badges"><span class="badge1"></span><span class="badgecount">29</span></span><span title="348 silver badges"><span class="badge2"></span><span class="badgecount">348</span></span><span title="470 bronze badges"><span class="badge3"></span><span class="badgecount">470</span></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                
                            </tr>
                            <tr class="bounty-notification">
                                <td class="votecell"></td>
                                <td>
                                    <div style="margin-top:20px">
                                        <a class="bounty-link bounty" title="offer some of your reputation for better answers">
                                            start a bounty
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="answers">
                    <a name="tab-top"></a>
                    <div id="answers-header">
                        <div class="subheader answers-subheader">
                            <h2>
                                @Model.NumberComments Answers
                                <span style="display:none;" itemprop="answerCount">@Model.NumberComments</span>
                            </h2>
                            <div>
                                <div id="tabs">
                                    <a href="/questions/11227809/why-is-it-faster-to-process-a-sorted-array-than-an-unsorted-array?answertab=active#tab-top" data-nav-xhref="" title="Answers with the latest activity first" data-value="active" data-shortcut="A">
                                        active
                                    </a>
                                    <a href="/questions/11227809/why-is-it-faster-to-process-a-sorted-array-than-an-unsorted-array?answertab=oldest#tab-top" data-nav-xhref="" title="Answers in the order they were provided" data-value="oldest" data-shortcut="O">
                                        oldest
                                    </a>
                                    <a class="youarehere" href="/questions/11227809/why-is-it-faster-to-process-a-sorted-array-than-an-unsorted-array?answertab=votes#tab-top" data-nav-xhref="" title="Answers with the highest score first" data-value="votes" data-shortcut="V">
                                        votes
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a name="11227877"></a>
                    <div id="answer-11227877" class="answer" data-answerid="11227877" itemscope="" itemtype="http://schema.org/Answer">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="votecell">
                                        <div class="vote">
                                            <input type="hidden" name="_id_" value="11227877">
                                            <a class="vote-up-off vote-up-on" title="This answer is useful (click again to undo)">up vote</a>
                                            <span itemprop="upvoteCount" class="vote-count-post high-scored-post">2644</span>
                                            <a class="vote-down-off" title="This answer is not useful">down vote</a>
                                        </div>
                                    </td>
                                    <td class="answercell">
                                        <div class="post-text" itemprop="text">
                                        
                                        </div>
                                        <table class="fw">
                                            <tbody>
                                                <tr>
                                                    <td class="vt">
                                                        <div class="post-menu"><a href="/a/11227877/4141606" title="short permalink to this answer" class="short-link" id="link-post-11227877">share</a><span class="lsep">|</span><a href="/posts/11227877/edit" class="suggest-edit-post" title="revise and improve this post">edit</a><span class="lsep">|</span><a href="#" class="flag-post-link" title="flag this post for serious problems or moderator attention" data-postid="11227877">flag</a></div>
                                                    </td>
                                                    <td align="right" class="post-signature">
                                                        <div class="user-info ">
                                                            <div class="user-action-time">
                                                                <a href="/posts/11227877/revisions" title="show all edits to this post">edited <span title="2016-08-05 07:53:10Z" class="relativetime">Aug 5 at 7:53</span></a>
                                                            </div>
                                                            <div class="user-gravatar32">
                                                                <a href="/users/3053978/shankar"><div class="gravatar-wrapper-32"><img src="https://i.stack.imgur.com/foTUq.jpg?s=32&amp;g=1" alt="" width="32" height="32"></div></a>
                                                            </div>
                                                            <div class="user-details">
                                                                <a href="/users/3053978/shankar">Shankar</a>
                                                                <div class="-flair">
                                                                    <span class="reputation-score" title="reputation score " dir="ltr">314</span><span title="4 silver badges"><span class="badge2"></span><span class="badgecount">4</span></span><span title="15 bronze badges"><span class="badge3"></span><span class="badgecount">15</span></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>



                                                    <td align="right" class="post-signature">


                                                        <div class="user-info user-hover">
                                                            <div class="user-action-time">
                                                                answered <span title="2012-06-27 13:54:45Z" class="relativetime">Jun 27 '12 at 13:54</span>
                                                            </div>
                                                            <div class="user-gravatar32">
                                                                <a href="/users/1011995/daniel-fischer"><div class="gravatar-wrapper-32"><img src="https://i.stack.imgur.com/Jca5Q.jpg?s=32&amp;g=1" alt="" width="32" height="32"></div></a>
                                                            </div>
                                                            <div class="user-details">
                                                                <a href="/users/1011995/daniel-fischer">Daniel Fischer</a>
                                                                <div class="-flair">
                                                                    <span class="reputation-score" title="reputation score 139,711" dir="ltr">140k</span><span title="12 gold badges"><span class="badge1"></span><span class="badgecount">12</span></span><span title="219 silver badges"><span class="badge2"></span><span class="badgecount">219</span></span><span title="351 bronze badges"><span class="badge3"></span><span class="badgecount">351</span></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="votecell"></td>
                                    <td>
                                        <div id="comments-11227877" class="comments ">
                                            <table>
                                                <tbody data-remaining-comments-count="1" data-canpost="true" data-cansee="false" data-comments-unavailable="false" data-addlink-disabled="false">



                                                    <tr id="comment-40722655" class="comment ">
                                                        <td class="comment-actions">
                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="comment-score">
                                                                            <span title="number of 'useful comment' votes received" class="hot">22</span>
                                                                        </td>
                                                                        <td>
                                                                            <a class="comment-up comment-up-off" title="this comment adds something useful to the post">upvote</a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>&nbsp;</td>
                                                                        <td>
                                                                            <a class="comment-flag" title="Flag this comment for serious problems or moderator attention">flag</a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td class="comment-text">
                                                            <div style="display: block;" class="comment-body">
                                                                <span class="comment-copy">Does branch prediction work better on sorted arrays vs. arrays with different patterns?  For example, for the array --&gt; { 10, 5, 20, 10, 40, 20, ... } the next element in the array from the pattern is 80.  Would this kind of array be sped up by branch prediction in which the next element is 80 here if the pattern is followed?  Or does it usually only help with sorted arrays?</span>
                                                                –&nbsp;<a href="/users/538458/adam-freeman" title="787 reputation" class="comment-user">Adam Freeman</a>
                                                                <span class="comment-date" dir="ltr"><a class="comment-link" href="#comment40722655_11227877"><span title="2014-09-23 18:58:12Z" class="relativetime-clean">Sep 23 '14 at 18:58</span></a></span>
                                                                <span class="edited-yes" title="this comment was edited 1 time"></span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="sidebar" class="show-votes">
                <div class="module question-stats">
                    <table id="qinfo">
                        <tbody>
                            <tr>
                                <td>
                                    <p class="label-key">asked</p>
                                </td>
                                <td style="padding-left: 10px">
                                    <p class="label-key" title="2012-06-27 13:51:36Z"><b>4 years ago</b></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="label-key">viewed</p>
                                </td>

                                <td style="padding-left: 10px">
                                    <p class="label-key">
                                        <b>872758 times</b>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="label-key">active</p>
                                </td>
                                <td style="padding-left: 10px">
                                    <p class="label-key"><b><a href="?lastactivity" class="lastactivity-link" title="2016-10-12 06:44:07Z">10 days ago</a></b></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="module community-bulletin" data-tracker="cb=1">
                    <div class="related">
                        <div class="bulletin-title">
                            Featured on Meta
                        </div>
                        <hr>
                        <div class="spacer">
                            <div class="bulletin-item-type">
                                <a href="http://meta.stackexchange.com/questions/285889/lets-plan-the-second-iteration-of-the-stack-exchange-quality-project?cb=1" class="question-hyperlink">
                                    <div class="favicon favicon-stackexchangemeta" title="Meta Stack Exchange"></div>
                                </a>
                            </div>
                            <div class="bulletin-item-content">
                                <a href="http://meta.stackexchange.com/questions/285889/lets-plan-the-second-iteration-of-the-stack-exchange-quality-project?cb=1" class="question-hyperlink">Let's Plan The Second Iteration Of The Stack Exchange Quality Project!</a>
                            </div>
                            <br class="cbt">
                        </div>
                        <div class="spacer">
                            <div class="bulletin-item-type">
                                <a href="http://meta.stackoverflow.com/questions/336627/documentation-update-october-20th?cb=1" class="question-hyperlink">
                                    <div class="favicon favicon-stackoverflowmeta" title="Meta Stack Overflow"></div>
                                </a>
                            </div>
                            <div class="bulletin-item-content">
                                <a href="http://meta.stackoverflow.com/questions/336627/documentation-update-october-20th?cb=1" class="question-hyperlink">Documentation Update, October 20th</a>
                            </div>
                            <br class="cbt">
                        </div>
                        <div class="bulletin-title">
                            Hot Meta Posts
                        </div>
                        <hr>
                        <div class="spacer">
                            <div class="bulletin-item-type">
                                <span title="Vote score (upvotes - downvotes)">4</span>
                            </div>
                            <div class="bulletin-item-content">
                                <a href="http://meta.stackoverflow.com/questions/336579/puzzle-challenge-questions-do-they-belong-on-stackoverflow?cb=1" class="question-hyperlink">Puzzle/challenge questions: do they belong on StackOverflow?</a>
                            </div>
                            <br class="cbt">
                        </div>
                        <div class="spacer">
                            <div class="bulletin-item-type">
                                <span title="Vote score (upvotes - downvotes)">31</span>
                            </div>
                            <div class="bulletin-item-content">
                                <a href="http://meta.stackoverflow.com/questions/336587/its-difficult-to-talk-about-times-in-chat?cb=1" class="question-hyperlink">It's difficult to talk about times in chat</a>
                            </div>
                            <br class="cbt">
                        </div>
                        <div class="spacer">
                            <div class="bulletin-item-type">
                                <span title="Vote score (upvotes - downvotes)">17</span>
                            </div>
                            <div class="bulletin-item-content">
                                <a href="http://meta.stackoverflow.com/questions/336625/how-to-add-swift-answers-to-older-ios-questions?cb=1" class="question-hyperlink">How to add Swift answers to older iOS questions</a>
                            </div>
                            <br class="cbt">
                        </div>
                    </div>
                </div>
                <script>
                    var ados = ados || {}; ados.run = ados.run || [];
                    ados.run.push(function () { ados_add_placement(22, 8277, "adzerk2056969502", [5, 17, 2221]).setZone(45); });
                </script>
                <div class="everyonelovesstackoverflow" id="adzerk2056969502" vkoznqp="" hidden=""></div>
                <div id="hireme"></div>
                <script>
                    ; (function (n) { var u = Object.assign || function (n) { for (var i, r, u, f, e = [], t = 1; t < arguments.length; t++) e[t - 1] = arguments[t]; for (i = 0, r = e; i < r.length; i++) { u = r[i]; for (f in u) n[f] = u[f] } return n }, r, t, f, i; try { if (typeof [].indexOf != "function") return; if (r = ["stackoverflow.com", "serverfault.com", "careers.stackoverflow.com", "blog.codinghorror.com", "joelonsoftware.com", "www.joelonsoftware.com", "talent.stackoverflow.com"], r[0] !== "*" && r.indexOf(location.hostname) === -1) return; t = window; f = t.clc_opts ? u({}, window.clc_opts) : {}; t.clc_opts = u(n, f); void 0; t.clc_opts.autoload && (t.clc_init = t.clc_init || [], t.clc_init.push(function () { return t.clc.load() })); i = document.createElement("script"); i.async = !0; void 0; i.src = t.clc_opts.lib; document.body.appendChild(i) } catch (e) { void 0 } }).call(null, { "azw": true, "kt": 2000, "tto": true, "autoload": true, "d": { "sb": ["hireme", "clc-sb"], "tlb": ["careers1", "clc-tlb"], "mlb": ["careers3", "clc-mlb"] }, "allowed": ["stackoverflow.com", "serverfault.com", "careers.stackoverflow.com", "blog.codinghorror.com", "joelonsoftware.com", "www.joelonsoftware.com", "talent.stackoverflow.com"], "h": "clc.stackoverflow.com", "u": "//clc.stackoverflow.com/p.js", "lib": "//cdn.sstatic.net/clc/clc.min.js?v=0b93ded9c111" });        </script>
                <div class="module" id="chat-feature">

                    <h4><a href="http://chat.stackoverflow.com" id="h-chat-link" title="55 users active in 33 rooms the last 60 minutes">55 People Chatting</a></h4>
                    <div class="related" id="ad502-rooms"><div class="ad502-room"><h3 class="ad502-room-h3"><span class="ad502-room-title" title="JavaScript - Stop asking if websites are down."><a href="http://chat.stackoverflow.com/rooms/17">JavaScript - Stop asking if websites are down.</a></span></h3><span title="2016-10-22 10:54:44Z" class="ad502-last-message">19 mins ago - <a href="http://chat.stackoverflow.com/users/3161092">towc</a></span><br><div class="ad502-users"><a href="http://chat.stackoverflow.com/users/3161092"><img height="23" width="23" title="towc: 19 mins ago" src="https://i.stack.imgur.com/oVs5E.png?s=128&amp;g=1&amp;g&amp;s=32"></a><a href="http://chat.stackoverflow.com/users/345257"><img height="23" width="23" title="Mosho: 20 mins ago" src="https://i.stack.imgur.com/j05a6.png?s=128&amp;g=1&amp;g&amp;s=32"></a><a href="http://chat.stackoverflow.com/users/6820627"><img height="23" width="23" title="Learn How To Be Transparent: 33 mins ago" src="https://i.stack.imgur.com/w6jRk.jpg?s=128&amp;g=1&amp;g&amp;s=32"></a><a href="http://chat.stackoverflow.com/users/401137"><img height="23" width="23" title="Some Guy: 8 hours ago" src="https://i.stack.imgur.com/j25bf.png?s=128&amp;g=1&amp;g&amp;s=32"></a><a href="http://chat.stackoverflow.com/users/322395"><img height="23" width="23" title="Loktar: 8 hours ago" src="https://i.stack.imgur.com/Bks1l.jpg?s=128&amp;g=1&amp;g&amp;s=32"></a><a href="http://chat.stackoverflow.com/users/785745"><img height="23" width="23" title="Kendall Frey: 11 hours ago" src="https://www.gravatar.com/avatar/f9fc3249a341a64ee2721637915cd301?s=23&amp;d=identicon&amp;r=PG"></a><a href="http://chat.stackoverflow.com/users/259953"><img height="23" width="23" title="Oliver Salzburg: 11 hours ago" src="https://www.gravatar.com/avatar/ec198cb6fc38d98bb88dd390e0bed8e3?s=23&amp;d=identicon&amp;r=PG"></a></div></div><div class="ad502-room"><h3 class="ad502-room-h3"><span class="ad502-room-title" title="Lounge<C++>"><a href="http://chat.stackoverflow.com/rooms/10">Lounge&lt;C++&gt;</a></span></h3><span title="2016-10-22 10:55:03Z" class="ad502-last-message">18 mins ago - <a href="http://chat.stackoverflow.com/users/1804599">rightfold</a></span><br><div class="ad502-users"><a href="http://chat.stackoverflow.com/users/1804599"><img height="23" width="23" title="rightfold: 19 mins ago" src="https://www.gravatar.com/avatar/6b3212a024165ac48d0e5cda6c33e552?s=23&amp;d=identicon&amp;r=PG"></a><a href="http://chat.stackoverflow.com/users/303662"><img height="23" width="23" title="Ell: 20 mins ago" src="https://www.gravatar.com/avatar/e4fe5511c802ce89b7e95c8173a7a17a?s=23&amp;d=identicon&amp;r=PG"></a><a href="http://chat.stackoverflow.com/users/85371"><img height="23" width="23" title="sehe: 34 mins ago" src="https://www.gravatar.com/avatar/6d52c235ec6dd15f30bab444103e7af2?s=23&amp;d=identicon&amp;r=PG"></a><a href="http://chat.stackoverflow.com/users/726300"><img height="23" width="23" title="Luc Danton: 37 mins ago" src="https://i.stack.imgur.com/ZWH6H.png?s=128&amp;g=1&amp;g&amp;s=32"></a><a href="http://chat.stackoverflow.com/users/256138"><img height="23" width="23" title="rubenvb: 56 mins ago" src="https://www.gravatar.com/avatar/ed9e8c0ff767e38f8fade11f5af00a45?s=23&amp;d=identicon&amp;r=PG"></a><a href="http://chat.stackoverflow.com/users/2369847"><img height="23" width="23" title="Telkitty: 1 hour ago" src="https://i.stack.imgur.com/fDZ2X.jpg?s=128&amp;g=1&amp;g&amp;s=32"></a><a href="http://chat.stackoverflow.com/users/703016"><img height="23" width="23" title="Gundolf Gundelfinger: 1 hour ago" src="https://i.stack.imgur.com/q1cOa.png?s=128&amp;g=1&amp;g&amp;s=32"></a></div></div></div>
                    <script>
                        // <!--
                        StackExchange.ready(
                        function () {
                            var options = {
                                chatUrl: 'http://chat.stackoverflow.com',
                                reloadUrl: '/api/recent-chat',
                                preloadData: { "activeUsers": 55, "activeRooms": 33, "rooms": [{ "name": "JavaScript - Stop asking if websites are down.", "id": 17, "lastPost": 1477133684, "posts": 3647593, "users": [{ "name": "towc", "id": 3161092, "emailhash": "!https://i.stack.imgur.com/oVs5E.png?s=128\u0026g=1", "lastPost": 1477133684 }, { "name": "Mosho", "id": 345257, "emailhash": "!https://i.stack.imgur.com/j05a6.png?s=128\u0026g=1", "lastPost": 1477133578 }, { "name": "Learn How To Be Transparent", "id": 6820627, "emailhash": "!https://i.stack.imgur.com/w6jRk.jpg?s=128\u0026g=1", "lastPost": 1477132844 }, { "name": "Some Guy", "id": 401137, "emailhash": "!https://i.stack.imgur.com/j25bf.png?s=128\u0026g=1", "lastPost": 1477104561 }, { "name": "Loktar", "id": 322395, "emailhash": "!https://i.stack.imgur.com/Bks1l.jpg?s=128\u0026g=1", "lastPost": 1477104517 }, { "name": "Kendall Frey", "id": 785745, "emailhash": "f9fc3249a341a64ee2721637915cd301", "lastPost": 1477095121 }, { "name": "Oliver Salzburg", "id": 259953, "emailhash": "ec198cb6fc38d98bb88dd390e0bed8e3", "lastPost": 1477092435 }], "messages": [{ "date": 1477133684, "user": "towc", "userid": 3161092 }], "singleImage": false, "tags": ["ecmascript", "ecmascript-next", "javascript", "node.js"] }, { "name": "Lounge\u003cC++\u003e", "id": 10, "lastPost": 1477133703, "posts": 4750248, "users": [{ "name": "rightfold", "id": 1804599, "emailhash": "6b3212a024165ac48d0e5cda6c33e552", "lastPost": 1477133637 }, { "name": "Ell", "id": 303662, "emailhash": "e4fe5511c802ce89b7e95c8173a7a17a", "lastPost": 1477133577 }, { "name": "sehe", "id": 85371, "emailhash": "6d52c235ec6dd15f30bab444103e7af2", "lastPost": 1477132786 }, { "name": "Luc Danton", "id": 726300, "emailhash": "!https://i.stack.imgur.com/ZWH6H.png?s=128\u0026g=1", "lastPost": 1477132614 }, { "name": "rubenvb", "id": 256138, "emailhash": "ed9e8c0ff767e38f8fade11f5af00a45", "lastPost": 1477131429 }, { "name": "Telkitty", "id": 2369847, "emailhash": "!https://i.stack.imgur.com/fDZ2X.jpg?s=128\u0026g=1", "lastPost": 1477130759 }, { "name": "Gundolf Gundelfinger", "id": 703016, "emailhash": "!https://i.stack.imgur.com/q1cOa.png?s=128\u0026g=1", "lastPost": 1477130519 }], "messages": [{ "date": 1477133703, "user": "rightfold", "userid": 1804599 }], "singleImage": false, "tags": ["c++", "c++11", "c++14", "c++-faq"] }] }
                            };

                            StackExchange.chatAd.init(options);
                        });
                        // -->
                    </script>

                </div>

                <div class="module sidebar-linked">
                    <h4 id="h-linked">Linked</h4>
                    <div class="linked" data-tracker="lq=1">

                        <div class="spacer">
                            <a href="http://stackoverflow.com/q/32063235?lq=1" title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes  default">7</div>
                            </a>
                            <a href="http://stackoverflow.com/questions/32063235/is-in-sorted-array-not-faster-than-unsorted-array?noredirect=1&amp;lq=1" class="question-hyperlink">Is “==” in sorted array not faster than unsorted array?</a>
                        </div>
                        <div class="spacer">
                            <a href="http://stackoverflow.com/q/29259466?lq=1" title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes  default">5</div>
                            </a>
                            <a href="http://stackoverflow.com/questions/29259466/complexity-of-comparison-operators?noredirect=1&amp;lq=1" class="question-hyperlink">Complexity of comparison operators</a>
                        </div>
                        <div class="spacer">
                            <a href="http://stackoverflow.com/q/21947452?lq=1" title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes answered-accepted extra-large">1903</div>
                            </a>
                            <a href="http://stackoverflow.com/questions/21947452/why-is-printing-b-dramatically-slower-than-printing?noredirect=1&amp;lq=1" class="question-hyperlink">Why is printing “B” dramatically slower than printing “#”?</a>
                        </div>
                        <div class="spacer">
                            <a href="http://stackoverflow.com/q/25078285?lq=1" title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes answered-accepted large">827</div>
                            </a>
                            <a href="http://stackoverflow.com/questions/25078285/replacing-a-32-bit-loop-count-variable-with-64-bit-introduces-crazy-performance?noredirect=1&amp;lq=1" class="question-hyperlink">Replacing a 32-bit loop count variable with 64-bit introduces crazy performance deviations</a>
                        </div>
                        <div class="spacer">
                            <a href="http://stackoverflow.com/q/14283270?lq=1" title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes answered-accepted large">655</div>
                            </a>
                            <a href="http://stackoverflow.com/questions/14283270/how-to-determine-whether-my-calculation-of-pi-is-accurate?noredirect=1&amp;lq=1" class="question-hyperlink">How to determine whether my calculation of pi is accurate?</a>
                        </div>
                        <div class="spacer">
                            <a href="http://stackoverflow.com/q/34179968?lq=1" title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes answered-accepted large">204</div>
                            </a>
                            <a href="http://stackoverflow.com/questions/34179968/are-there-any-cases-where-you-would-prefer-a-higher-big-o-time-complexity-algori?noredirect=1&amp;lq=1" class="question-hyperlink">Are there any cases where you would prefer a higher big-O time complexity algorithm over the lower one?</a>
                        </div>
                        <div class="spacer">
                            <a href="http://stackoverflow.com/q/16699247?lq=1" title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes answered-accepted large">461</div>
                            </a>
                            <a href="http://stackoverflow.com/questions/16699247/what-is-cache-friendly-code?noredirect=1&amp;lq=1" class="question-hyperlink">What is “cache-friendly” code?</a>
                        </div>
                        <div class="spacer">
                            <a href="http://stackoverflow.com/q/1978933?lq=1" title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes answered-accepted large">176</div>
                            </a>
                            <a href="http://stackoverflow.com/questions/1978933/a-quick-and-easy-way-to-join-array-elements-with-a-separator-the-opposite-of-sp?noredirect=1&amp;lq=1" class="question-hyperlink">A quick and easy way to join array elements with a separator (the opposite of split) in Java</a>
                        </div>
                        <div class="spacer">
                            <a href="http://stackoverflow.com/q/17328641?lq=1" title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes answered-accepted large">213</div>
                            </a>
                            <a href="http://stackoverflow.com/questions/17328641/ternary-operator-is-twice-as-slow-as-an-if-else-block?noredirect=1&amp;lq=1" class="question-hyperlink">Ternary operator is twice as slow as an if-else block?</a>
                        </div>
                        <div class="spacer">
                            <a href="http://stackoverflow.com/q/19470873?lq=1" title="Vote score (upvotes - downvotes)">
                                <div class="answer-votes answered-accepted large">274</div>
                            </a>
                            <a href="http://stackoverflow.com/questions/19470873/why-does-gcc-generate-15-20-faster-code-if-i-optimize-for-size-instead-of-speed?noredirect=1&amp;lq=1" class="question-hyperlink">Why does gcc generate 15-20% faster code if I optimize for size instead of speed?</a>
                        </div>					<div class="spacer more">
                            <a href="http://stackoverflow.com/questions/linked/11227809?lq=1">see more linked questions…</a>
                        </div>
                    </div>
                </div>

                <div class="module sidebar-related">
                    <h4 id="h-related">Related</h4>
                    <div class="related js-gps-related-questions" data-tracker="rq=1">
                        <div class="spacer js-gps-track"><a href="http://stackoverflow.com/q/8547778?rq=1" title="Vote score (upvotes - downvotes)"><div class="answer-votes answered-accepted extra-large">1598</div></a><a href="http://stackoverflow.com/questions/8547778/why-is-one-loop-so-much-slower-than-two-loops?rq=1" class="question-hyperlink">Why is one loop so much slower than two loops?</a></div><div class="spacer js-gps-track"><a href="http://stackoverflow.com/q/12135518?rq=1" title="Vote score (upvotes - downvotes)"><div class="answer-votes answered-accepted extra-large">1106</div></a><a href="http://stackoverflow.com/questions/12135518/is-faster-than?rq=1" class="question-hyperlink">Is &lt; faster than &lt;=?</a></div><div class="spacer js-gps-track"><a href="http://stackoverflow.com/q/12842717?rq=1" title="Vote score (upvotes - downvotes)"><div class="answer-votes answered-accepted default">8</div></a><a href="http://stackoverflow.com/questions/12842717/why-is-processing-a-sorted-array-not-faster-than-an-unsorted-array-in-python?rq=1" class="question-hyperlink">Why is processing a sorted array not faster than an unsorted array in Python?</a></div><div class="spacer js-gps-track"><a href="http://stackoverflow.com/q/14023988?rq=1" title="Vote score (upvotes - downvotes)"><div class="answer-votes answered-accepted large">199</div></a><a href="http://stackoverflow.com/questions/14023988/why-is-processing-a-sorted-array-slower-than-an-unsorted-array?rq=1" class="question-hyperlink">Why is processing a sorted array slower than an unsorted array?</a></div><div class="spacer js-gps-track"><a href="http://stackoverflow.com/q/21947452?rq=1" title="Vote score (upvotes - downvotes)"><div class="answer-votes answered-accepted extra-large">1903</div></a><a href="http://stackoverflow.com/questions/21947452/why-is-printing-b-dramatically-slower-than-printing?rq=1" class="question-hyperlink">Why is printing “B” dramatically slower than printing “#”?</a></div><div class="spacer js-gps-track"><a href="http://stackoverflow.com/q/30216000?rq=1" title="Vote score (upvotes - downvotes)"><div class="answer-votes answered-accepted large">472</div></a><a href="http://stackoverflow.com/questions/30216000/why-is-faster-than-list?rq=1" class="question-hyperlink">Why is [] faster than list()?</a></div><div class="spacer js-gps-track"><a href="http://stackoverflow.com/q/32063235?rq=1" title="Vote score (upvotes - downvotes)"><div class="answer-votes default">7</div></a><a href="http://stackoverflow.com/questions/32063235/is-in-sorted-array-not-faster-than-unsorted-array?rq=1" class="question-hyperlink">Is “==” in sorted array not faster than unsorted array?</a></div><div class="spacer js-gps-track"><a href="http://stackoverflow.com/q/35018999?rq=1" title="Vote score (upvotes - downvotes)"><div class="answer-votes answered-accepted default">75</div></a><a href="http://stackoverflow.com/questions/35018999/why-is-processing-a-sorted-array-slower-than-an-unsorted-array-javas-arrayl?rq=1" class="question-hyperlink">Why is processing a sorted array *slower* than an unsorted array? (Java's ArrayList.indexOf)</a></div><div class="spacer js-gps-track"><a href="http://stackoverflow.com/q/35531369?rq=1" title="Vote score (upvotes - downvotes)"><div class="answer-votes answered-accepted large">294</div></a><a href="http://stackoverflow.com/questions/35531369/why-is-ab-0-faster-than-a-0-b-0-in-java?rq=1" class="question-hyperlink">Why is (a*b != 0) faster than (a != 0 &amp;&amp; b != 0) in Java?</a></div><div class="spacer js-gps-track"><a href="http://stackoverflow.com/q/39588251?rq=1" title="Vote score (upvotes - downvotes)"><div class="answer-votes answered-accepted default">59</div></a><a href="http://stackoverflow.com/questions/39588251/in-java-can-be-faster-than?rq=1" class="question-hyperlink">In Java, can &amp; be faster than &amp;&amp;?</a></div>
                    </div>
                </div>

                <div id="hot-network-questions" class="module">
                    <h4>
                        <a href="//stackexchange.com/questions?tab=hot" class="js-gps-track" data-gps-track="posts_hot_network.click({ item_type:1, location:11 })">
                            Hot Network Questions
                        </a>
                    </h4>
                    <ul>
                        <li>
                            <div class="favicon favicon-english" title="English Language &amp; Usage Stack Exchange"></div><a href="http://english.stackexchange.com/questions/354489/word-for-to-direct-attention-away-from" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:97 }); posts_hot_network.click({ item_type:2, location:11 })">
                                Word for "to direct attention away from"
                            </a>

                        </li>
                        <li>
                            <div class="favicon favicon-workplace" title="The Workplace Stack Exchange"></div><a href="http://workplace.stackexchange.com/questions/78198/limited-number-of-places-at-award-ceremony-for-team-how-do-i-choose-who-to-tak" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:423 }); posts_hot_network.click({ item_type:2, location:11 })">
                                Limited number of places at award ceremony for team - how do I choose who to take along?
                            </a>

                        </li>
                        <li>
                            <div class="favicon favicon-codegolf" title="Programming Puzzles &amp; Code Golf Stack Exchange"></div><a href="http://codegolf.stackexchange.com/questions/96641/nest-a-string" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:200 }); posts_hot_network.click({ item_type:2, location:11 })">
                                N(e(s(t))) a string
                            </a>

                        </li>
                        <li>
                            <div class="favicon favicon-movies" title="Movies &amp; TV Stack Exchange"></div><a href="http://movies.stackexchange.com/questions/62192/criminals-hackers-trick-computer-system-into-backing-up-all-data-into-single-loc" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:367 }); posts_hot_network.click({ item_type:2, location:11 })">
                                Criminals/hackers trick computer system into backing up all data into single location
                            </a>

                        </li>
                        <li>
                            <div class="favicon favicon-tex" title="TeX - LaTeX Stack Exchange"></div><a href="http://tex.stackexchange.com/questions/335304/how-to-add-the-length-of-the-figure" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:85 }); posts_hot_network.click({ item_type:2, location:11 })">
                                How to add the length of the figure?
                            </a>

                        </li>
                        <li class="dno js-hidden" style="display: list-item;">
                            <div class="favicon favicon-academia" title="Academia Stack Exchange"></div><a href="http://academia.stackexchange.com/questions/78584/thesis-reviewer-requests-update-to-literature-review-to-incorporate-last-four-ye" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:415 }); posts_hot_network.click({ item_type:2, location:11 })">
                                Thesis reviewer requests update to literature review to incorporate last four years of research. Do I need to do this?
                            </a>

                        </li>
                        <li class="dno js-hidden" style="display: list-item;">
                            <div class="favicon favicon-puzzling" title="Puzzling Stack Exchange"></div><a href="http://puzzling.stackexchange.com/questions/44702/longest-de-bruijn-phrase" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:559 }); posts_hot_network.click({ item_type:2, location:11 })">
                                Longest "De Bruijn phrase"
                            </a>

                        </li>
                        <li class="dno js-hidden" style="display: list-item;">
                            <div class="favicon favicon-superuser" title="Super User"></div><a href="http://superuser.com/questions/1136864/usb-in-computer-screen-not-working" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:3 }); posts_hot_network.click({ item_type:2, location:11 })">
                                USB in computer screen not working
                            </a>

                        </li>
                        <li class="dno js-hidden" style="display: list-item;">
                            <div class="favicon favicon-english" title="English Language &amp; Usage Stack Exchange"></div><a href="http://english.stackexchange.com/questions/354625/what-is-the-correct-plural-of-training" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:97 }); posts_hot_network.click({ item_type:2, location:11 })">
                                What is the correct plural of "training"?
                            </a>

                        </li>
                        <li class="dno js-hidden" style="display: list-item;">
                            <div class="favicon favicon-security" title="Information Security Stack Exchange"></div><a href="http://security.stackexchange.com/questions/140437/why-dont-vpn-services-use-tls" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:162 }); posts_hot_network.click({ item_type:2, location:11 })">
                                Why don't VPN services use TLS?
                            </a>

                        </li>
                        <li class="dno js-hidden" style="display: list-item;">
                            <div class="favicon favicon-rpg" title="Role-playing Games Stack Exchange"></div><a href="http://rpg.stackexchange.com/questions/89365/how-do-i-depower-overpowered-magic-items-without-breaking-immersion" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:122 }); posts_hot_network.click({ item_type:2, location:11 })">
                                How do I depower overpowered magic items without breaking immersion?
                            </a>

                        </li>
                        <li class="dno js-hidden" style="display: list-item;">
                            <div class="favicon favicon-mathoverflow" title="MathOverflow"></div><a href="http://mathoverflow.net/questions/252671/surprising-examples-of-markov-chains" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:504 }); posts_hot_network.click({ item_type:2, location:11 })">
                                "Surprising" examples of Markov chains
                            </a>

                        </li>
                        <li class="dno js-hidden" style="display: list-item;">
                            <div class="favicon favicon-scifi" title="Science Fiction &amp; Fantasy Stack Exchange"></div><a href="http://scifi.stackexchange.com/questions/143547/did-dumbledore-steal-presents-and-mail-from-harry" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:186 }); posts_hot_network.click({ item_type:2, location:11 })">
                                Did Dumbledore steal presents and mail from Harry?
                            </a>

                        </li>
                        <li class="dno js-hidden" style="display: list-item;">
                            <div class="favicon favicon-philosophy" title="Philosophy Stack Exchange"></div><a href="http://philosophy.stackexchange.com/questions/38542/what-is-the-difference-if-any-between-not-true-and-false" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:265 }); posts_hot_network.click({ item_type:2, location:11 })">
                                What is the difference (if any) between "not true" and "false"?
                            </a>

                        </li>
                        <li class="dno js-hidden" style="display: list-item;">
                            <div class="favicon favicon-codegolf" title="Programming Puzzles &amp; Code Golf Stack Exchange"></div><a href="http://codegolf.stackexchange.com/questions/97049/print-the-greek-alphabet" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:200 }); posts_hot_network.click({ item_type:2, location:11 })">
                                Print the Greek alphabet!
                            </a>

                        </li>
                        <li class="dno js-hidden" style="display: list-item;">
                            <div class="favicon favicon-diy" title="Home Improvement Stack Exchange"></div><a href="http://diy.stackexchange.com/questions/101380/mysterious-cord-running-from-wall-safe" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:73 }); posts_hot_network.click({ item_type:2, location:11 })">
                                Mysterious cord running from wall. Safe?
                            </a>

                        </li>
                        <li class="dno js-hidden" style="display: list-item;">
                            <div class="favicon favicon-skeptics" title="Skeptics Stack Exchange"></div><a href="http://skeptics.stackexchange.com/questions/35554/is-the-four-minute-nuclear-weapon-response-time-classified-information" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:212 }); posts_hot_network.click({ item_type:2, location:11 })">
                                Is the four minute nuclear weapon response time classified information?
                            </a>

                        </li>
                        <li class="dno js-hidden" style="display: list-item;">
                            <div class="favicon favicon-askubuntu" title="Ask Ubuntu"></div><a href="http://askubuntu.com/questions/837558/where-are-sudos-insults-stored" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:89 }); posts_hot_network.click({ item_type:2, location:11 })">
                                Where are sudo's insults stored?
                            </a>

                        </li>
                        <li class="dno js-hidden" style="display: list-item;">
                            <div class="favicon favicon-workplace" title="The Workplace Stack Exchange"></div><a href="http://workplace.stackexchange.com/questions/77952/previous-company-name-is-isis-how-to-list-on-cv" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:423 }); posts_hot_network.click({ item_type:2, location:11 })">
                                Previous company name is ISIS, how to list on CV?
                            </a>

                        </li>
                        <li class="dno js-hidden" style="display: list-item;">
                            <div class="favicon favicon-tex" title="TeX - LaTeX Stack Exchange"></div><a href="http://tex.stackexchange.com/questions/335249/how-to-avoid-intersection-of-elements-in-tikz" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:85 }); posts_hot_network.click({ item_type:2, location:11 })">
                                How to avoid intersection of elements in tikz
                            </a>

                        </li>
                        <li class="dno js-hidden" style="display: list-item;">
                            <div class="favicon favicon-codereview" title="Code Review Stack Exchange"></div><a href="http://codereview.stackexchange.com/questions/144939/check-if-a-string-is-a-permutation-of-a-palindrome" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:196 }); posts_hot_network.click({ item_type:2, location:11 })">
                                Check if a string is a permutation of a palindrome
                            </a>

                        </li>
                        <li class="dno js-hidden" style="display: list-item;">
                            <div class="favicon favicon-history" title="History Stack Exchange"></div><a href="http://history.stackexchange.com/questions/33396/was-roosevelt-the-biggest-slave-trader-in-recorded-history" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:324 }); posts_hot_network.click({ item_type:2, location:11 })">
                                Was Roosevelt the "biggest slave trader in recorded history"?
                            </a>

                        </li>
                        <li class="dno js-hidden" style="display: list-item;">
                            <div class="favicon favicon-codegolf" title="Programming Puzzles &amp; Code Golf Stack Exchange"></div><a href="http://codegolf.stackexchange.com/questions/96973/shuffle-up-and-deal" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:200 }); posts_hot_network.click({ item_type:2, location:11 })">
                                Shuffle Up and Deal!
                            </a>

                        </li>
                        <li class="dno js-hidden" style="display: list-item;">
                            <div class="favicon favicon-stackoverflow" title="Stack Overflow"></div><a href="http://stackoverflow.com/questions/40188610/how-to-change-the-color-of-drawable-shape-in-the-layout-file" class="js-gps-track" data-gps-track="site.switch({ item_type:11, target_site:1 }); posts_hot_network.click({ item_type:2, location:11 })">
                                How to change the color of drawable shape in the layout file
                            </a>

                        </li>
                    </ul>


                </div>
            </div>

            <div id="feed-link">
                <div id="feed-link-text">
                    <a href="/feeds/question/11227809" title="feed of this question and its answers">
                        <span class="feed-icon"></span>question feed
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>